* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to right, #f9f5ff, #e6e0f1);
    padding: 40px;
    display: flex;
    justify-content: center;
}

.btn-volver {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #544477;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.btn-volver:hover {
  background-color: #50376d;
}


.container {
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px #0000001a;
}

h1 {
    font-size: 1.5rem;
    color: #5b3b74;
    text-align: center;
    margin-bottom: 30px;
}

.detalle-producto {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}

.columna-izquierda {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.columna-izquierda h2 {
  font-size: 2.5rem;
  color: #3e2a57;
  margin-bottom: 20px;
}

.columna-izquierda img {
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 16px #0000001a;
}

.columna-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
}

.columna-derecha p {
  font-size: 1.2rem;
  color: #3e2a57;
  margin: 5px 0;
}

.stock-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stock-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px #00000014;
  width: 180px;
  text-align: left;
}

.stock-card p {
  margin: 6px 0;
  color: #50376d;
  font-size: 1rem;
}

.btn-agregar {
  margin-top: 8px;
  width: 100%;
  background-color: #6c4c91;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #50376d;
}
