* {
    /* Asi el ancho y alto de todos los elementos van a incluir el padding y el border */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* Como el header tiene position fixed no ocupa espacio en el dom
    entonces el contenido puede quedar escondido detras del header, esta
    es la manera de solucionarlo */
    padding-top: 80px;
    min-height: 100vh;
    background: linear-gradient(to right, #fce4ec, #e1cae6, #fce4ec);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 100;
    box-shadow: 0 2px 5px #0000001a;
}

.header-titulo {
    position: absolute;
    left: 45%;
    font-size: 24px;
    color: #333;
}

.header-izquierda,
.header-derecha {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-buscador {
    display: flex;
    align-items: center;
}

.header-buscador input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

input:focus {
    outline: none;
}

.header-buscador button {
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
    cursor: pointer;
}

#icono_busqueda {
    width: 14px;
    height: 14px;
}

.header-categorias select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button img {
    width: 24px;
    height: 24px;
}

main {
    /* esto hace que el contenido de main ocupe todo el espacio disponible, 
    empujando al footer hacia abajo si hay poco contenido. */
    flex: 1;
}

.img-producto {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productos-grid {
    padding: 20px 100px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin-bottom: 40px;
}

.tarjeta {
    max-width: 250px;
    max-height: 500px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 6px 14px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.tarjeta:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 18px #00000026;
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    font-size: 0.95rem;
    color: #4a3a5d;
}

.descripcion strong {
    font-size: 1.05rem;
    color: #502c50;
    margin-bottom: -10px;
}

.descripcion .precio {
    margin-top: 10px;
}

.botones {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.botones button {
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid #1f161e;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-comprar {
    background-color: #8e1abc; 
    color: white;
    border-color: #2c0623;
}

.btn-comprar:hover {
    background-color: #520469; 
    transform: scale(1.05);
}

.btn-ver {
    background-color: #f9f9f975;
    color: #1a1919;
}

.btn-ver:hover {
    background-color: #c2bebe;
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #dddddd;
    color: #333;
    font-size: 14px;
    width: 100%;
}

.footer__contactos {
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.item_contacto {
    display: flex;
    align-items: center;
    gap: 7px;
}

.item_contacto img {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 1px;
}

.item_contacto a {
    color: #333;
    text-decoration: none;
}

.item_contacto a:hover {
    text-decoration: underline;
}

.creditos {
    margin-top: 10px;
    text-align: center;
}


