* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.titulo h1 {
    font-size: 2rem;
    color: #444;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    margin-top: 40px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input,
.campo select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.2s;
}

.campo input:focus,
.campo select:focus {
    border-color: #968de9;
    outline: none;
}

.campo_btn {
    margin-top: 5px;
    grid-column: span 2;
}

.campo button {
    padding: 10px 20px;
    background-color: #1e1929;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.campo button:hover {
    background-color: #523b81;
}